*~
*.bak
*.bkp
*.log

*xOLD*

*output*

# ignore the LiteX build output
3.build/build/
2.soc/2.sw/uberClock/
3.build/analyzer.csv
3.build/dump.vcd
3.build/vivado.jou
3.build/vivado_*.str
#*impl*
*temp*

*.jou
.vscode/
3.build/
*.bin
*.txt
!0.doc/docs/requirements.txt
*.o
*.d
*.elf
*.bin
*.fbi
*.map
*.elf
*.map
*.fbi

__pycache__/
*.pyc

# Sphinx build output
0.doc/docs/build/
0.doc/docs/source/python_soc/api/generated/
