# =========================
# General junk
# =========================
*~
*.bak
*.bkp
*.log
*.jou
*.idea
*temp*
*xOLD*
*output*

.vscode/

# =========================
# Build artifacts (global)
# =========================
*.o
*.d
*.elf
*.bin
*.map
*.fbi
*.txt

__pycache__/
*.pyc

# =========================
# LiteX specific ignores
# =========================
2.soc-litex/3.build/build/
2.soc-litex/2.sw/uberClock/
2.soc-litex/3.build/analyzer.csv
2.soc-litex/3.build/dump.vcd
2.soc-litex/3.build/vivado.jou
2.soc-litex/3.build/vivado_*.str

# =========================
# Main build folder (IGNORE EVERYTHING)
# =========================
3.build/build/*

# Allow board directory
!3.build/build/alinx_ax7203/

# Reset ignore inside it
3.build/build/alinx_ax7203/*

# =========================
# Doxygen and sphinx generated build
# =========================
0.doc/build/*
0.doc/docs/build/*

# =========================
# KEEP THESE (IMPORTANT)
# =========================

# Generated headers
!3.build/build/alinx_ax7203/software/include/generated/**

# Gateware (all for now)
!3.build/build/alinx_ax7203/gateware/**

# CSR files
!3.build/build/alinx_ax7203/csr.json
!3.build/build/alinx_ax7203/csr.csv
